{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard | Dynamic routine maker{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-dark text-bg-primary">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'dashboard' %}"><img src="{% static 'images/favicon.png' %}" alt="Logo" class="img-fluid" width="25"> Dashboard</a>
          <a href="{% url 'logout' %}" class="btn btn-light btn-sm">Logout</a>
        </div>
    </nav>

    <!-- Routines -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-9 col-lg-7 mx-auto">
                <div class="d-flex justify-content-between">
                    <h2>Your Routines</h2>
                    <div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRoutineModal"><i class="bi bi-plus-lg"></i> Create New Routine</button>
                    </div>
                </div>
                <hr class="mt-1">

                <div class="d-flex flex-column gap-3 my-3">
                    {% if routines %}
                        {% for routine in routines %}
                            <div class="py-3 px-4 rounded-2 shadow-sm d-flex justify-content-between align-items-center bg-light">
                                <a href="#" class="text-decoration-none text-dark">
                                    <h5 class="fw-bold fs-5 m-0"><i class="bi bi-arrow-right"></i> {{ routine.name }}</h5>
                                </a>

                                <div class="d-flex align-items-center gap-2">
                                    <a href="#" target="_blank" class="btn btn-sm btn-success" data-bs-toggle="tooltip" data-bs-title="Open your public routine link">
                                        <i class="bi bi-box-arrow-up-right"></i>
                                    </a>
                                    <a class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-title="Edit your routine">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <button class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-title="Delete your routine">
                                        <i class="bi bi-archive"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            No routine round. Please <span  data-bs-toggle="modal" data-bs-target="#createRoutineModal" class="text-decoration-underline text-primary" style="cursor: pointer;">create</span> your first routine.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Create routine modal -->
    <div class="modal fade" id="createRoutineModal" tabindex="-1" aria-labelledby="createRoutineLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createRoutineModalLabel">Create a new routine</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label">Routine name</label>
                        <input type="text" name="name" class="form-control" placeholder="eg- 2nd sem CSE routine">
                    </div>

                    <button role="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}