{% extends 'base.html' %}

{% load static %}

{% block title %}Dashboard | Dynamic routine maker{% endblock %}

{% block content %}
    <!-- Navbar -->
    <nav class="navbar navbar-dark text-bg-primary">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'dashboard' %}"><img src="{% static 'images/favicon.png' %}" alt="Logo" class="img-fluid" width="25"> Dashboard</a>
          <a href="{% url 'logout' %}" class="btn btn-light btn-sm">Logout</a>
        </div>
    </nav>

    <!-- Routines -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-9 col-lg-7 mx-auto">
                <div class="d-flex justify-content-between">
                    <h2>Your Routines</h2>
                    <div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createRoutineModal"><i class="bi bi-plus-lg"></i> Create New Routine</button>
                    </div>
                </div>
                <hr class="mt-1">
                
                {% include 'partials/routines.html' %}
            </div>
        </div>
    </div>

    <!-- Create routine modal -->
    <div class="modal fade" id="createRoutineModal" tabindex="-1" aria-labelledby="createRoutineLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createRoutineModalLabel">Create a new routine</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'forms/routine-form.html' %}
            </div>
          </div>
        </div>
      </div>

{% endblock %}