{% extends 'base.html' %}

{% load static %}

{% block title %}Edit routine - {{ routine.id }} | Dynamic routine maker{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-dark text-bg-primary">
    <div class="container">
        <a
            class="navbar-brand d-flex align-items-center gap-2"
            href="{% url 'dashboard' %}"
            ><img
                src="{% static 'images/favicon.png' %}"
                alt="Logo"
                class="img-fluid"
                width="25"
            />
            Dashboard</a
        >
        <a href="{% url 'logout' %}" class="btn btn-light btn-sm">Logout</a>
    </div>
</nav>

<!-- Routines -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-9 col-lg-7 mx-auto">
            <!-- Breadcrumbs -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'routine-page' routine.id %}">{{routine.name}}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        {{ day }}
                    </li>
                </ol>
            </nav>

            <div class="d-flex justify-content-between align-items-center">
                <h2>{{ day }} - {{ routine.name }}</h2>
                <div>
                    <a
                        href="#"
                        data-bs-toggle="tooltip"
                        data-bs-title="Open your routine public page"
                        ><i class="bi bi-box-arrow-up-right"></i
                    ></a>
                </div>
            </div>
            <hr class="mt-1" />

            <!-- Days table -->
            {% include 'partials/schedules.html' %}

            <div class="mt-5 d-flex justify-content-center">
                <button
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#createScheduleModal"
                >
                    <i class="bi bi-plus-lg"></i> Add New Schedule
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Create routine modal -->
<div
    class="modal fade"
    id="createScheduleModal"
    tabindex="-1"
    aria-labelledby="createScheduleModalLabel"
    aria-hidden="true"
    hx-on:close-modal="bootstrap.Modal.getInstance(this).hide()"
>
    <div class="modal-dialog">
        <div class="modal-content" id="createScheduleModalContent">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="createScheduleModalLabel"
                >
                    Add schedule
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                {% include 'forms/add-schedule-form.html' %}
            </div>
        </div>
    </div>
</div>

<!-- Edit routine modal -->
<div
    class="modal fade"
    id="editScheduleModal"
    tabindex="-1"
    aria-labelledby="editScheduleModalLabel"
    aria-hidden="true"
    hx-on:close-modal="bootstrap.Modal.getInstance(this).hide()"
>
    <div class="modal-dialog">
        <div class="modal-content" id="editScheduleModalContent">
            <div class="modal-header">
                <h1
                    class="modal-title fs-5"
                    id="editScheduleModalLabel"
                >
                    Edit schedule
                </h1>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form id="editScheduleForm"></form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
